name: Clock in

on:
  schedule:
    - cron: '30 23 * * *'
  workflow_dispatch:

jobs:
  Clock_in:
    runs-on: ubuntu-22.04

    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      - run: pip3 install -r requirements.txt

      - env:
          XUHAO: ${{ secrets.XUHAO }}
          MIMA: ${{ secrets.MIMA }}
          PUSHPLUS: ${{ secrets.PUSHPLUS }}
        run: python3 clock_in.py
